* {
    font-family: 'Roboto', sans-serif;
    
}
body {
    min-height: calc(100vh - 60px);
}

.well {
    background-color: rgb(52, 52, 52);
    /*opacity: .9;*/
}

p {
    color: #fff;
    font-size: 2em;
}

footer {
    background-color: #555;
    color: white;
    padding: 16px;
    height: 60px;
    bottom: 0;
    text-align: center;
    width: 100%;
    left: 0;
}

.form-check-lable {
    color: white;
}

#news-input {
    width: 100%;
}

.newsPreference:hover {
    font-size: 1.2em;
    transition: 0.2s ease-in;
}

/*---------------todo list styling------------------*/

#todoTitle {
    background: #2980b9;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

.todoUl {
    list-style: none;
    margin: 0;
    padding: 0;
}

.todoLi {
    background: #ffffff;
    height: 40px;
    line-height: 40px;
    color: #666;
    font-size: 16px;
    width: 100%;
}

.todoSpan {
    background: #e74c3c;
    color: #fff;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    width: 0;
    transition: 0.2s;
    opacity: 0;
}

#todoInput {
    font-size: 18px;
    color: #2980b9;
    background: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rbga(0, 0, 0, 0);
}

#todoContainer {
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: auto;
    background: #f7f7f7;
}

.fa-plus {
    float: right;
}

.fa-plus:hover {
    color: #555;
    transition: 0.2s ease-in
}

.completed {
    color: #808080;
    text-decoration: line-through;
}

.todoLi:nth-child(2n) {
    background: #f7f7f7;
}

.todoLi:hover span {
    width: 40px;
    opacity: 1;
}

.todoInput:focus {
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}

/*------------------------------------------------------*/

h1 {
    color: rgb(255, 255, 255);
    font-weight: 700;
}

h2 {
    color: rgba(0, 0, 0, 0);
    text-shadow: #fff;
}

.stock {
    color: #fff;
}

.icon {
    height: 120px;
    width: auto;
}
/*-------- preferences--------*/
#zip-input {
    width: 100%;
    color: #000000
}

#addZipButton{
    color: black;
    border-radius: 4px;
    width: 70px;
    box-shadow: 5px 10px rgb(0, 0, 0);

    

}
#addNewsButton{
    color: black;
    border-radius: 4px;
    width: 70px;
    box-shadow: 5px 10px rgb(0, 0, 0);
    
    
}
.col-sm-4{
    float: none;
    margin: 0 auto;
    
}
.col-sm-9{
    float: none;
    margin: 0 auto;
}

a{


font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

font-size: 22px

}
.container{
    float: none;
    margin: 0 auto;
}

.form-check-lable {
    color: white;
    color: #000000;
}
/*
body{
background-image:url('https://media.giphy.com/media/3oKIPaGG4PDQgQDFZe/giphy.gif');
background-size:100%;
background-repeat: repeat-y;
background-attachment: fixed;
height:100%;
width:100%;
}

*/
body{
background: #4ECDC4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}